h1 {
    color: #2d5b89;
    font-family: Arial, Verdana, sans-serif;
  }
  h2, h3 {
    color: #363636;
    font-family: Arial, Verdana, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #939393;
    font-family: Georgia, Verdana, sans-serif;
  }
  a {
    cursor: pointer;
    cursor: hand;
  }
  
  button {
    font-family: Verdana;
    background-color: #bebebe;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #d3dbdf;
  }
  
  button:disabled {
    background-color: #bebebe;
    color: #767676;
    cursor: auto;
  }
  
  nav a {
    padding: 5px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #bebebe;
    border-radius: 5px;
  }
  nav a:visited, a:link {
    color: #435761;
  }
  nav a:hover {
    color: #026ca0;
    background-color: #d8dfe3;
  }
  nav a.active {
    color: #026ca0;
  }
  
  * {
    font-family: Arial, Verdana, sans-serif;
  }